-
    const backgrounds = {
        'Home': 'bg-home',
        'Destination': 'bg-destination',
        'Crew': 'bg-crew',
        'Technology': 'bg-technology',
    };

block customizations
    - let activePage='Home'
<!DOCTYPE html>
html.antialised.overflow-x-hidden(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')


        link(rel="icon" href="assets/shared/logo.svg" type="image/svg+xml" sizes="any")
        meta(name="theme-color" content="#0B0D17")
        meta(name="author" content="Boris Kobilkovsky - implementation, Frontendmentor.io - design")
        title=[activePage, 'Frontend Mentor | Space tourism website'].join(' - ')

        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap" rel="stylesheet")
        link(href="style/index.scss" rel="stylesheet")


    body.overflow-x-hidden(
        class=backgrounds[activePage]
        class=`
            flex flex-col
        `)
        include navigation
        .grow.flex
            block content
