-
    const backgrounds = {
        'Home': 'bg-home',
        'Destination': 'bg-destination',
        'Crew': 'bg-crew',
        'Technology': 'bg-technology',
    };

block customizations
    - let activePage='Home'
html.antialised.overflow-x-hidden
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(href="style/index.scss" rel="stylesheet")


    body.overflow-x-hidden(
        class=backgrounds[activePage]
        class=`
            flex flex-col
        `)
        include navigation
        .flex-1
            block content
