-
    const backgrounds = {
        'Home': 'bg-home',
        'Destination': 'bg-destination',
        'Crew': 'bg-crew',
        'Technology': 'bg-technology',
    };

block customizations
    - let activePage='Home'
html.antialised
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(href="style/index.css" rel="stylesheet")


    body.min-h-screen.overflow-x-hidden(class=backgrounds[activePage])
        div(class='h-full md:flex md:flex-col md:justify-between')
            div
                block nav
                    include navigation
            .flex-1
                block content
