html.antialised
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        link(href="style/index.css" rel="stylesheet")
    body.min-h-screen.bg-home
        block nav
            include navigation
        block content
