@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;1,400&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .font-barlow {
        font-family: 'Barlow', sans-serif;
    }

    .font-barlow-condensed {
        font-family: 'Barlow Condensed', sans-serif;
    }

    .font-bellefair {
        font-family: 'Bellefair', serif;
    }
}

body {
    background:linear-gradient(
            rgba(11, 13, 23, 0),
            rgba(11, 13, 23, 0)
    ), var(--backround-image) center/cover no-repeat fixed;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    background-color: rgba(11, 13, 23, 0.5);
    height: -webkit-fill-available;
}

@layer utilities {

    .bg-home {
        --backround-image: url(/src/assets/home/background-home-mobile.jpg);
    }

    @screen md {
        .bg-home {
            --backround-image: url(/src/assets/home/background-home-tablet.jpg);
        }
    }

    @screen xl {
        .bg-home {
            --backround-image: url(/src/assets/home/background-home-desktop.jpg);
        }
    }

    .bg-crew {
        --backround-image: url(/src/assets/crew/background-crew-mobile.jpg);
    }

    @screen md {
        .bg-crew {
            --backround-image: url(/src/assets/crew/background-crew-tablet.jpg);
        }
    }

    @screen xl {
        .bg-crew {
            --backround-image: url(/src/assets/crew/background-crew-desktop.jpg);
        }
    }


    .bg-destination {
        --backround-image: url(/src/assets/destination/background-destination-mobile.jpg);
    }

    @screen md {
        .bg-destination {
            --backround-image: url(/src/assets/destination/background-destination-tablet.jpg);
        }
    }

    @screen xl {
        .bg-destination {
            --backround-image: url(/src/assets/destination/background-destination-desktop.jpg);

        }
    }


    .bg-technology {
        --backround-image: url(/src/assets/technology/background-technology-mobile.jpg);
    }

    @screen md {
        .bg-technology {
            --backround-image: url(/src/assets/technology/background-technology-tablet.jpg);
        }
    }

    @screen xl {
        .bg-technology {
            --backround-image: url(/src/assets/technology/background-technology-desktop.jpg);

        }
    }
}


@layer components {

    .grid-crew {
        grid-template-areas:
            "photo"
            "nav"
            "card";
        grid-template-rows: min-content min-content auto;
    }

    @screen md {
        .grid-crew {
            grid-template-areas:
            "card"
            "nav"
            "photo";
            grid-template-rows:  auto min-content min-content;
        }
    }


    @screen xl {
        .grid-crew {
            grid-template-areas:
            "card    photo"
            "nav     photo";
            grid-template-columns: max-content 1fr;
            grid-template-rows:  auto min-content;
        }

    }


    .grid-crew-card {
        grid-area: card;
    }

    .grid-crew-nav {
        grid-area: nav;
    }

    .grid-crew-photo {
        grid-area: photo;
    }

}


/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}


@layer components {
    .text-page-title {
        @apply
            md:p-9 xl:p-0 xl:pt-10
            text-center md:text-left
            font-barlow-condensed uppercase tracking-widest
            md:text-xl xl:text-3xl;

        & > span[aria-hidden='true'] {
           @apply opacity-25 font-bold mr-2;
        }
    }

    .text-description {
        @apply
            font-barlow text-[#D0D6F9]
            text-[15px] md:text-base xl:text-lg
            leading-relaxed md:leading-7 xl:leading-8
            ;
    }
}