@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:ital,wght@0,400;0,500;0,700;1,400&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
    .font-barlow {
        font-family: 'Barlow', sans-serif;
    }

    .font-barlow-condensed {
        font-family: 'Barlow Condensed', sans-serif;
    }

    .font-bellefair {
        font-family: 'Bellefair', serif;
    }
}


@layer utilities {

    .bg-home {
        background-image: url(../assets/home/background-home-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
    }


    @screen md {
        .bg-home {
            background-image: url(../assets/home/background-home-tablet.jpg);
        }
    }

    @screen xl {
        .bg-home {
            background-image: url(../assets/home/background-home-desktop.jpg);
            
        }
    }


    .bg-crew {
        background-image: url(../assets/crew/background-crew-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    @screen md {
        .bg-crew {
            background-image: url(../assets/crew/background-crew-tablet.jpg);
        }
    }

    @screen xl {
        .bg-crew {
            background-image: url(../assets/crew/background-crew-desktop.jpg);

        }
    }


    .bg-destination {
        background-image: url(../assets/destination/background-destination-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    @screen md {
        .bg-destination {
            background-image: url(../assets/destination/background-destination-tablet.jpg);
        }
    }

    @screen xl {
        .bg-destination {
            background-image: url(../assets/destination/background-destination-desktop.jpg);

        }
    }


    .bg-technology {
        background-image: url(../assets/technology/background-technology-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    @screen md {
        .bg-technology {
            background-image: url(../assets/technology/background-technology-tablet.jpg);
        }
    }

    @screen xl {
        .bg-technology {
            background-image: url(../assets/technology/background-technology-desktop.jpg);

        }
    }


    .peer:checked ~ section .scale-100-in-active-destination {
        @apply scale-100;
    }



}

